@import url(../Other_styles/variables.css);
.search-bar {
  background-color: unset;
  height: 100%;
  width: 100%;
  border: none;
  font-size: var(--Font-Size);
}
.search-button {
  width: 100%;
  height: 100%;
  border: none;
}
.search-area {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
.search-wrapper {
  height: 100%;
  width: 100%;
  /* max-width: 25rem; */
}
.main-title {
  min-height: fit-content;
  height: 16.5rem;
}

@media (min-width: 40.625rem) {
  .search-wrapper {
    flex-direction: row;
    max-width: 25rem;
  }

  .search-button {
    width: 30%;
  }
  .main-title {
    height: 8rem;
  }
  .weather-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
}
