header {
  display: flex;
  justify-content: center;
}
nav {
  max-width: 90rem;
  width: 100%;
  justify-content: space-between !important;
  padding: 0rem 0;
  & > img {
    width: 9.375rem;
  }
}

.unit {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem !important;
}
