@import url(variables.css);

.unit-list {
  /* border-radius: 16px !important; */
  border: 2px solid var(--Neutral-600);

  button {
    width: 100%;
    background-color: unset;
    border: 0;
    text-align: start;
    font-size: var(--Font-Size);
    margin-bottom: 0.5rem;
  }
  background-color: var(--Neutral-800);
  width: 250px;
  right: 0;
  top: 50px;
  padding: 1rem;
  z-index: 11;
  border-radius: var(--border-raduis);
  .drop-label {
    font-size: 16px;
    color: var(--Neutral-300);
    background-color: unset !important;
    margin-bottom: 0 !important;
    padding: 0.5rem;
    border-radius: var(--border-raduis);
  }

  input[type="radio"] {
    display: none;
  }
  .hidden-radio:checked + label {
    background-color: var(--Neutral-700);
  }
  .hidden-radio:checked + label::after {
    content: url(../../../assets/images/icon-checkmark.svg);
  }
  label {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 18px;
    margin-bottom: 0.5rem;
    border-radius: var(--border-raduis);
  }
  .seperator {
    border: 0.5px solid var(--Neutral-600);
  }
}
.selected {
  background-color: var(--Neutral-700);
}
