@import url(variables.css);
* {
  padding: 0;
  margin: 0;
  color: var(--Neutral-000);
  font-family: var(--DMS-Font);
  box-sizing: border-box;
}
h1 {
  font-family: var(--BG-Font);
  text-align: center;
  font-size: 3rem;
}
p {
  font-size: var(--Font-Size);
}

body {
  min-width: 320px;
  background-color: var(--Neutral-900);
  min-height: 100svh;
  padding: 0.5rem min(8rem, 5%);
}



main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: fit-content;
  align-items: center;
}
